{
  "$schema": "https://json.schemastore.org/prettierrc",
  "arrowParens": "always",
  "bracketSpacing": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^vue$", 
    "^vue-router$", 
    "<THIRD_PARTY_MODULES>",
    "^@/enum/(.*)$", 
    "^@/composables/(.*)$", 
    "^@/stores/(.*)$", 
    "^@/components/(.*)$", 
    "^@/app/(.*)$", 
    "^@/validation/(.*)$", 
    "^@/utils/(.*)$", 
    "^@/views/(.*)$", 
    "", 
    "^[^\\{]",
    "^type\\s+\\{.*\\}$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderSortByLength": true,
  "tabWidth": 2,
  "semi": false,
  "printWidth": 80,
  "singleQuote": true,
  "proseWrap": "always",
  "trailingComma": "none"
}